<% provide(:title, "About") %>
<h1>About</h1>
<h3 class="display-3">
  Project name: Freelance Canvas
</h3>
<p class="lead">
   &nbsp;&nbsp;&nbsp;&nbsp;
Freelance Canvas is a photo sharing web service where artists and art enthusiasts of all interests and skill sets come together and share their work with each other and the rest of the world. The site would have two types of everyday users; artists and viewers. As an artist on our site, you would first set up your artist profile which would include your affiliations, artistic interests, previous work/portfolio and possibly any other things you would like to mention about yourself or your art. Before creating your profile, as an artist you would need to sign up first and returning artists can just sign in. After you create your profile you can create posts and attach images of your artwork to share or advertise. Each image can be tagged with a location. This can be helpful if the picture is a tourist attraction which helps the user identify the place.. When an artist creates a post, they can decide whether they would like to offer that item for sale or not. As a viewer on the site you would be able to see artist profiles as well as their posts and like, comment, share and subscribe to each artist or post. If the art is for sale there will also be an option to buy. The artist can decide how they would like to sell the art and can choose whether to auction the item or sell it for a set value. If there is an auction only credit card verified users can place bids up to a certain point of time after which the highest bid wins.The home page for the site would feature popular artists as well as new artists to try and help viewers see new content. An artist who is posting content would be able to tag his/her content to belong to a certain category (nature, wildlife etc.). This functionality would allow the user browsing through the site to select tags displayed in a toolbar to filter their results. Also there is default popular tag to let the user view the most liked photos of all time.  
</p>

<p>
  The <a href="https://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a> is a
  <a href="https://www.railstutorial.org/book">book</a> and
  <a href="http://screencasts.railstutorial.org/">screencast series</a>
  to teach web development with
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  This is the sample application for the tutorial.
</p>

