<% provide(:title, "Contact") %>
<h1>Contact</h1>
    <p class="lead">
      Overall Project Manager: Pranay Byreddy, byreddy.3@osu.edu<br>
      Coding Manager: Zhengqi Dong, dong.760@osu.edu<br>
      Testing Manager: Trevor Shirey, shirey.32@osu.edu <br>
      Documentation: Yi Zhao, zhao.2175@osu.edu<br>
    </p>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://www.railstutorial.org/contact">contact page</a>.
</p>