<footer class="footer">

 
    <%= link_to "Back", :back %> |
    The <a href="https://web.500px.com/">Freelance Canvas Project</a>
    by <a href="http://web.cse.ohio-state.edu/~shareef.1/3901.su19/labs/project6.shtml">TYP-HD</a>


    <ul>
<%= link_to "About",   about_path %> |
<%= link_to "Contact", contact_path %> | 
<a href="http://web.cse.ohio-state.edu/~shareef.1/3901.su19/labs/project6.shtml">TYP-HD</a>
    </ul>

</footer>